.footer {
  padding-top: 162px;
  padding-bottom: 72px;
  position: relative;
}

.footer__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #442808;
}
.footer__bg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  opacity: 0.3;
}
.footer__container {
}
.footer__body {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: 380px auto;
  column-gap: 66px;
}
.footer__description {
}
.footer__logo {
}
.footer__text {
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--color-white);
  font-size: 14px;
  line-height: 1.5; /* 22/14 */
}

.footer__main {
  grid-row-start: span 2;
  display: flex;
  align-items: flex-start;
  gap: 66px;
}
.footer__menu {
  display: flex;
  gap: 66px;
}
.menu-footer {
}
.menu-footer__column {
}
.menu-footer__title {
  color: var(--color-white);
  font-size: 26px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 55px;
  cursor: auto;
}
.menu-footer__list {
}
.menu-footer__item {
  line-height: 1.2;
  margin-bottom: 14px;
  white-space: nowrap;
}
.menu-footer__link {
  color: var(--color-white);
  font-size: 18px;
  line-height: 1.2;
}
.footer__contacts {
}
.contacts {
  flex: 0 0 332px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
}
.contacts__title {
  color: var(--color-white);
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 9px;
}
.contacts__address,
.contacts__phone,
.contacts__email,
.contacts__web {
  color: var(--color-white);
  font-size: 18px;
  line-height: 1.2;
}
.contacts__phone {
}
.contacts__email {
}
.contacts__web {
}

.footer__social {
  display: flex;
  /* justify-content: center; */
  gap: 24px;
}
.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 0 4px; */
}
.social__link img {
  transition: transform 0.3s ease;
}
.social__link:hover img {
  transform: scale(1.2);
}

@media (max-width: 1200px) {
  .footer__body {
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 0;
  }
  .footer__main {
    grid-row-start: auto;
    gap: 8%;
  }
  .footer__menu {
    flex: 0 1 32%;
    justify-content: space-between;
    gap: 8%;
  }
  .menu-footer__title {
    margin: 20px 0;
  }
  .contacts {
    flex: 0 1 68%;
  }
  .contacts__title {
    margin-top: 20px;
  }
  .footer__social {
    margin-top: 40px;
  }
}
@media (max-width: 767.98px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .footer__main {
    flex-direction: column;
    gap: 0;
  }
  .footer__menu {
    gap: 50%;
  }
}
@media (max-width: 480px) {
  .footer__bg img {
    opacity: 0.2;
  }
  .footer__text {
    font-size: 18px;
    margin-bottom: 0;
  }
  .footer__main {
  }
  .footer__menu {
    display: block;
    width: 100%;
  }
  .menu-footer__title {
    margin-bottom: 12px;
  }
  .footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .social__link img {
    transform: scale(1.5);
  }
  .menu-footer__title {
    width: 100%;
    text-align: left;
    position: relative;
  }
  .menu-footer__title::after {
    content: "";
    position: absolute;
    right: 20px;
    top: 6px;
    width: 12px;
    height: 12px;
    border-top: 4px solid #fff;
    border-right: 4px solid #fff;
    border-radius: 2px;
    transform: rotate(135deg);
    display: inline-block;
    transition: transform 0.2s ease;
  }
  .menu-footer__title._active::after {
    top: 12px;
    transform: rotate(-45deg);
  }
  .contacts {
    gap: 12px;
  }
  .menu-footer__link,
  .contacts__address,
  .contacts__phone,
  .contacts__email,
  .contacts__web {
    font-size: 20px;
  }
}
